/* text-colores */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__part__header {
  color: #212121;
}

.logo:focus {
  outline: 1px solid #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .logo--size {
    padding: 16px 0px;
  }
}

.conteiner {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: aqua;
}

@media screen and (min-width: 480px) {
  .conteiner {
    position: relative;
    width: 480px;
    background-color: tomato;
  }
}

@media screen and (min-width: 796px) {
  .conteiner {
    width: 796px;
    background-color: green;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
    background-color: blue;
  }
}

.is-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .btn__mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__open__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
  }
  .btn__mobile:focus {
    outline: 1px solid #2196f3;
    border-radius: 2px;
  }
  .icon__mobile {
    fill: currentColor;
    -webkit-transition: colore 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: colore 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: colore 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: colore 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon__mobile--open {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .btn__mobile:focus > .icon__mobile--open,
  .btn__mobile:hover > .icon__mobile--open {
    color: #2196f3;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn__mobile:focus > .icon__mobile--close,
  .btn__mobile:hover > .icon__mobile--close {
    color: #2196f3;
  }
  .mobile__manu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */