.header{
    
     background-color: $bg-pr-col;
     border-bottom: 1px solid $br-solid-col;

}
// mobile-menu
@media screen and (min-width:768px) {
    .btn__mobile{
        display: none;
    }
}
@media screen and (max-width:767px){
    .header__open__mobile{
        
        display: flex;
        align-items: center;


    }
    .btn__mobile{
    
         display: flex;
        justify-content: center;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;

        width: 40px;
        height: 40px;

        background-color: transparent;
        border: transparent;

        

        &:focus{
            outline: $fh-outline;
            border-radius: $fh-border-radius;
         }

        

    }

    .mobile__manu{
        position:fixed;
        top:0px;
        left:0px;
 
       width: 100vw;
       height: 100vw;
 
       background-color: $bg-pr-col;
 
       
    }

    .icon__mobile{
        fill:currentColor;
         transition: colore $pr-transition, box-shadow $pr-transition;

            &--open{

                box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.50));

            

                .btn__mobile:focus >&,
                .btn__mobile:hover >&{
                color:$accent-col;
                box-shadow:none;
                }
            }

           &--close{
    
                .btn__mobile:focus >&,
                .btn__mobile:hover >&{
                color:$accent-col;
                
                }
            }

    }

    // nav-mobile-menu
    


    
    
}



