.header{
    
     background-color: $bg-pr-col;
     border-bottom: 1px solid $br-solid-col;

}
// mobile-menu
@media screen and (min-width:768px) {
    .btn__mobile{
        display: none;
    }

    
}
@media screen and (max-width:767px){

    
}


   
       




