.hero__sect{
    background-color: cadetblue;
    &--hero {
        text-align: center;
     }
    &--size{
        
            padding: 118px 0;
        
        
    }
}
.hero__sect__tittle{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;


    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $bg-pr-col;

    &--size{
        margin: auto;
        max-width: 360px;
        margin-bottom: 30px;
    }
}


