.logo{
display: block;
margin-right: auto;
font-family: Raleway;
font-weight: 700;
font-size: 24px;
line-height:  1.7;
letter-spacing: 0.03em;

color: $accent-col;

    &__part__header{
        color: $pr-col-txt;
        
    }


        &:focus{
            outline: $fh-outline;
            border-radius: $fh-border-radius;
         }

    &--size{
        @media screen and (max-width: 767px){

            padding: 16px 0px;
        }

        
    }

   

}