.logo{
display: block;

font-family: Raleway;
font-weight: 700;
font-size: 24px;
line-height:  1.7;
letter-spacing: 0.03em;

color: $accent-col;


    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 1.2;
    }



    &__part__header{
        color: $pr-col-txt;
        
    }


        &:focus{
            outline: $fh-outline;
            border-radius: $fh-border-radius;
         }

    &--size{
        @media screen and (max-width: 767px){
            margin-right: auto;
            padding: 16px 0px;
        }

        @media screen and (min-width: 768px){
            margin-right:88px;
            padding: 26px 0px;
        }
        
        @media screen and (min-width: 1200px){
           

            padding: 24px 0px;
            margin-right: 93px;
        }
        
    }


   

}